
a.button {
	background-color: #ab4d63;
	color: #fff;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
a.button:hover {
	color: #fff;
	background-color: #e2e2e2;
}
ul.latest-posts li a:hover {
	color: #e2e2e2;
}

.forms fieldset .btn-submit, #footer .forms fieldset .btn-submit {
	background-color: #ab4d63;
	color: #fff;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
}
.forms fieldset .btn-submit:hover, #footer .forms fieldset .btn-submit:hover {
	background-color: #e2e2e2;
}
#filtering-nav li.active a {
	color: #e2e2e2;
}
.post-meta a:hover, .tags a:hover {
	color: #e2e2e2;
}
.tag-list ul li a:hover {
	color: #e2e2e2;
}
.cat-list ul li a:hover {
	color: #e2e2e2;
}

ul.tabs li.active a {
	border: 1px solid #ab4d63;
	color: #fff;
	background-color: #ab4d63;
}